<div class="flex pl-8" aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div>
        <div (click)="routeTo('/')" class="text-gray-400 hover:text-gray-500">
          <mat-icon>home</mat-icon>
        </div>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg
          class="h-5 w-5 flex-shrink-0 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
          Users & Roles Mapping
        </div>
      </div>
    </li>
  </ol>
</div>
<div class="mat-card-box flex flex-col space-y-4 mx-auto">
  <!-- <mat-card *ngFor="let role of mappedRoles">
        <div>
         <div class="mat-cation">
           <p>Role: {{role?.roleName}}</p>
         </div>
        </div>
     </mat-card> -->

  <mat-accordion *ngFor="let role of mappedRoles">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Role : {{ role.roleName }}</mat-panel-title>
        <mat-panel-description>
          Access : {{ getNames(role?.access) }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Select users to provide Access</p>
      <section>
        <mat-checkbox
          class="example-margin"
          *ngFor="let restrictedUser of role?.restricted"
          (change)="updateStatus($event.checked,role?.roleId,restrictedUser?.userId)"
          >{{ restrictedUser?.userName }}</mat-checkbox
        >
      </section>

      <div class="flex justify-end">
      <button
        type="button"
        class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="updateRoletoUsers(role?.roleId)"
        >
        Apply Changes
      </button>
    </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
